{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'AIWebProject/css/main-page.style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Главная страница</title>
  </head>
  <body>
    <main class="main">
      <h1 class="main__title">КАЛЬКУЛЯТОР КАЛОРИЙ</h1>
      <div class="main__container-btn">
        <button class="btn">
          <a href="second-page" class="page-route">
            <img class="line_navigation" src="{% static 'AIWebProject/images/line.svg' %}">
          </a>
        </button>
      </div>
    </main>

    <script src="{% static 'AIWebProject/js/main-page.js' %}"></script>
  </body>
</html>